@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  background-color: #1b1e20;
  /* background-color: white; */
}

:root {
  /* Typeography*/
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --wf-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem
}

body {
  margin: 0;
}

body[data-theme='dark'] {
  --colors-text: white;
  --colors-bg: black;
  --colors-ui-base: black;

  --shadow: rgb(90, 81, 81);
}
body[data-theme='light'] {
  --colors-text: black;
  --colors-bg: white;
  --colors-ui-base: white;

  --shadow: rgb(90, 81, 81);
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--wf-light);
  background-color: var(--colors-bg);
}